.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }
   
   .spinner {
    border: 20px solid #f9f2d6;
    border-top: 20px solid #ffcc00;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
   }
   
   @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
   }
   